body {
  margin: 0;
  padding: 0;
  background-image: url(../images/wooden_top.jpg);
  color: #ccc;
  font-family: Helvetica, Arial, sans-serif;
}
body ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body a:link {
  color: #fff;
  text-decoration: none;
}
body a:visited {
  color: #ccc;
  text-decoration: none;
}
body a:hover {
  color: ;
  text-decoration: none;
}
h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 3em;
  text-align: center;
  font-family: 'Paytone One', sans-serif;
  background-color: rgba(42, 42, 42, 0.5);
  width: 100%;
  height: 75px;
  margin: 0;
  padding-top: 20px;
}
.sidebar {
  width: 200px;
  height: 100%;
  background-color: rgba(42, 42, 42, 0.5);
  float: left;
  font-family: 'Paytone One', sans-serif;
  line-height: 3em;
  margin: 25px 0 75% 0;
}
.sidebar li {
  margin-left: 50px;
}
.content .albums_collection {
  height: 100%;
  width: 960px;
  padding: 0;
  text-align: center;
  margin: 0 auto 0 auto;
}
.content .thumbBox {
  float: left;
  margin: 20px 30px 20px 30px;
  padding: 25px 25px 50px 25px;
  text-align: center;
  height: 200px;
  width: 200px;
  background-color: #fff;
  -webkit-box-shadow: -4px 3px 30px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 3px 30px -6px rgba(0, 0, 0, 0.75);
  box-shadow: -4px 3px 30px -6px rgba(0, 0, 0, 0.75);
}
.content .thumbBox .sample-photo {
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.content .thumbBox .sample-photo img {
  width: auto;
  height: 300px;
}
.content .thumbBox .album-name {
  color: #152d33;
  font-size: 1em;
  padding-top: 15px;
  font-family: 'Shadows Into Light', cursive;
}
.content .photo-collection {
  margin-top: 50px;
  height: 100%;
}
.content .photo-collection .photoThumb {
  float: left;
  border: 20px solid #fff;
  margin: 0 20px 20px 60px;
  background-color: #fff;
}
.content .photo-collection .photoThumb img {
  width: 300px;
  height: auto;
  margin: 0;
  padding: 0;
}
.content .album-full {
  width: 500px;
  float: left;
  margin: 35px 0 0 150px;
}
.content .album-full .back_button {
  font-family: 'Shadows Into Light', cursive;
  margin: 0 0 20px 0;
  font-size: 1.5em;
}
.content .album-full .image {
  width: 900px;
}
.content .album-full img {
  border: 10px solid #fff;
  width: 600px;
  height: auto;
}
.content .album-full .info {
  color: #fff;
  width: 700px;
}
.content .album-full .info h2 {
  font-family: 'Paytone One', sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
}
.content .album-full .info p {
  margin: 10px 0 0 0;
  padding: 0;
}
.content .album-full .info .album {
  float: left;
  margin-right: 25px;
}
.content .album-full .info .description {
  float: left;
}
