{{!-- This is the album thumbnail --}}

<li>
  <div class="thumbBox">
    <a href="#" data-album-name="{{album}}"><div class="sample-photo">
      <img src="{{photo_url}}">
    </div></a>
    <div class="album-name">{{album}}</div>
  </div>
</li>
