<div class="album-preview">
  <div class="photo">
    <img width="100" src="{{photo}}" alt="{{name}}">
  </div>
  <div class="info">
    <strong>Album:</strong>
    <span>{{name}}</span>
  </div>
  <div class="more">
    <a href="#" data-album-id={{album_id}}>Details</a>
  </div>
</div>
