<div class="album-full">
  <a href="#">Back to Group</a>
  <div class="photo">
    <img src="{{photo}}" alt="{{name}}">
  </div>
  <div class="info">
    <table>
      <tr>
        <th>Album Name:</th>
        <td>{{name}}</td>
      </tr>
      <tr>
        <th>Description:</th>
        <td>{{description}}</td>
      </tr>
    </table>
  </div>
</div>
