{{!-- This is for the photos inside chosen album --}}
<li>
  <div data-photo-id={{photo_id}} data-ind-album="{{album}}" class="photoThumb" >
    <div class="photo">
      <img src="{{photo_url}}" alt="{{description}}">
    </div>
  </div>
</li>