{{!-- This is for the photos inside chosen album --}}
<li>
  <div data-photo-id={{photo_id}} class="photoThumb" >
    <a href="#" data-photo-id={{photo_id}}><div class="photo">
      <img src="{{photo_url}}" alt="{{description}}">
    </div></a>
  </div>
</li>
